In [2]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [3]:
# read csv
df=pd.read_csv('PD Fill the Blanks challenge.csv')

In [13]:
df.head()

  Weekday  Week    Teacher Lesson Time Lesson Name  Subject  Attendance
0  Monday     1  J. Martin       09:00  Statistics    Maths          24
1  Monday     2  J. Martin       09:00  Statistics    Maths          12
2  Monday     3  J. Martin       09:00         NaN      NaN          20
3  Monday     4  J. Martin       09:00         NaN      NaN          24
4  Monday     1  T. Prowse       14:00  Literature  English          21

In [16]:
# to mysql
eng=create_engine('mysql+pymysql://root:yxdj87212241@localhost/fill_blanks')
df.to_sql('input', eng, index=False, if_exists='replace')